/* .background-img-hero {
  background-image: url('../../../../assets/img/img-background.jpeg');
} */


/* @media (max-width: 640px) {
  .background-img-hero {
    background-image: url('../../../../assets/img/img-background.jpeg');
    background-size: cover;
  }
} */