<div
  class="background-img-hero bg-hero-pattern bg-contain from-black to-gray-900 text-white dark:from-gray-900 dark:to-black"
>
  <div class="flex justify-between items-center w-full px-4">
    <app-logo></app-logo>
    <app-theme-buttons></app-theme-buttons>
  </div>

  <div class="container mx-auto text-center py-20">
    <h1 class="text-4xl font-bold mb-4 ">{{ title }}</h1>
    <p class="text-lg mb-6">{{ description }}</p>
    <button
    class="px-6 py-3 text-white font-semibold rounded bg-gradient-to-r from-blue-500 to-blue-700 hover:bg-blue-600 focus:outline-none focus:ring-0 focus:border-none active:scale-95 active:bg-blue-800 shadow-md active:shadow-inner"
    (click)="onButtonClick()"
  >
    {{ buttonText }}
  </button>
  

  </div>
</div>
