<footer class="bg-gray-800 text-white py-4 mt-10">
  <div class="mt-auto flex justify-center">
    <app-logo></app-logo>
  </div>
  <div class="container mx-auto text-center">
    <p>&copy; 2025 AstroNavis. Tüm hakları saklıdır.</p>
    <div class="mt-4">
      <form (submit)="onSubscribe(); $event.preventDefault()">
        <label for="newsletter" class="block mb-2">Bültenimize abone olun</label>
        <input
        type="email"
        id="emailInput"
        name="email" 
        [(ngModel)]="email"
        placeholder="E-posta adresinizi girin"
        class="px-4 py-2 rounded text-gray-800"
      />
      
        <button
          type="submit"
          class="ml-2 px-4 py-2 bg-gradient-to-r from-blue-500 to-blue-700 hover:bg-blue-600 focus:outline-none focus:ring-0 focus:border-none active:scale-95 active:bg-blue-800 shadow-md active:shadow-inner"
        >
          Abone Ol
        </button>
      </form>
      <p class="mt-2 text-sm">{{ message }}</p>
    </div>
  </div>
</footer>
