<footer class=" bg-gray-800 text-white py-4 mt-10">
    <div class="mt-auto flex justify-center alig">
        <app-logo></app-logo>
    </div>
    <div class="container mx-auto text-center">
      <p>&copy; 2025 AstroNavis. Tüm hakları saklıdır.</p>
      <div class="mt-4">
        <form>
          <label for="newsletter" class="block mb-2">Bültenimize abone olun</label>
          <input type="email" id="newsletter" name="newsletter" placeholder="E-posta adresinizi girin" class="px-4 py-2 rounded text-gray-800">
          <button type="submit" class="ml-2 px-4 py-2 bg-blue-600 text-white rounded hover:bg-blue-700">Abone Ol</button>
        </form>
      </div>
    </div>
  </footer>