<div class="container mx-auto p-6 space-y-8">
  <h1 class="text-4xl font-extrabold text-center text-gray-800 dark:text-white">
    {{ headerTitle }}
  </h1>

  <!-- Tarih Seçimi -->
  <div class="date-picker flex flex-col items-center space-y-3">
    <label
      for="date"
      class="text-lg font-semibold text-gray-700 dark:text-gray-300"
    >
      Tarih Seç:
    </label>
    <input
      type="date"
      id="date"
      (change)="onDateChange($event)"
      [max]="maxDate"
      [min]="minDate"
      [value]="maxDate"
      class="px-4 py-2 border rounded-md shadow-md focus:outline-none focus:ring-2 focus:ring-blue-400 dark:border-gray-600 dark:bg-gray-800 dark:text-gray-300 dark:focus:ring-blue-500"
    />
    <p class="text-sm text-gray-600 dark:text-gray-300">
      {{ selectedDateMessage }}
    </p>
  </div>

  <!-- Yükleniyor Göstergesi -->
  <div *ngIf="isLoading" class="flex justify-center items-center">
    <div class="spinner"></div>
  </div>

  <!-- Hata Mesajı -->
  <div
    *ngIf="errorMessage"
    class="bg-red-100 text-red-600 border-l-4 border-red-500 p-4 rounded-md shadow-md dark:bg-red-900 dark:text-red-300 dark:border-red-700"
  >
    <p class="text-md">{{ errorMessage }}</p>
  </div>

  <!-- İçerik Gösterimi -->
  <div *ngIf="photo" class="photo-info flex flex-col items-center space-y-5">

    <!-- Fotoğraf Gösterimi -->
    <img 
      *ngIf="photo.media_type === 'image'"
      [src]="photo.url" 
      alt="NASA Fotoğrafı" 
      class="w-full max-w-3xl rounded-lg shadow-lg dark:shadow-gray-800" 
    />

    <!-- Video Gösterimi -->
    <iframe 
      *ngIf="photo.media_type === 'video'"
      [src]="safeVideoUrl" 
      frameborder="0"
      allowfullscreen
      class="w-full max-w-3xl h-96 rounded-lg shadow-lg dark:shadow-gray-800"
    ></iframe>

    <h2 class="text-2xl font-bold text-center text-gray-800 dark:text-white">
      {{ photo.title }}
    </h2>
    <p 
      class="text-md text-justify text-gray-600 dark:text-gray-300 leading-relaxed max-w-4xl indent-8 whitespace-pre-line"
    >
      {{ photo.explanation }}
    </p>
  </div>
</div>
