<div class="hero bg-gradient-to-b from-black to-gray-900 text-white">
    <div class="container mx-auto text-center py-20">
      <h1 class="text-5xl font-bold">Kainatın Sırlarına Yolculuk</h1>
      <p class="mt-4 text-xl">Uzaydan gelen ışık yıllarına dalın ve bilinmeyeni keşfedin.</p>
      <button class="mt-8 px-6 py-3 bg-blue-600 rounded-lg shadow-lg hover:bg-blue-500 transition">
        Keşfet
      </button>
    </div>
  </div>
  
  
  <div class="container">
    <h1>Uzay Fotoğrafları Galerisi</h1>
  
    <div class="date-picker">
      <label for="date">Tarih Seç:</label>
      <input 
        type="date" 
        id="date" 
        (change)="onDateChange($event)" 
        [max]="maxDate"
      >
    </div>
  
    <!-- Yükleniyor Durumu -->
    <div *ngIf="isLoading">Yükleniyor...</div>
  
    <!-- Hata Mesajı -->
    <div *ngIf="errorMessage" class="error">
      <p>{{ errorMessage }}</p>
    </div>
  
    <!-- Fotoğraf Bilgisi -->
    <div *ngIf="photo; else noPhoto">
      <img [src]="photo.url" alt="NASA Fotoğrafı" />
      <h2>{{ photo.title }}</h2>
      <p>{{ photo.explanation }}</p>
    </div>
  
    <ng-template #noPhoto>
      <p>Lütfen bir tarih seçin.</p>
    </ng-template>
  </div>
  