<div class="container mx-auto mt-8 flex flex-col items-center px-4">
  <h1 class="text-2xl font-bold mb-4">
    <h3 class="text-2xl font-bold text-center text-gray-800 dark:text-white">
      Miller'ın Gezegeninde Kaç Saat Yaşadın?
    </h3>
  </h1>
  <input
    type="date"
    class="p-2 border rounded text-black"
    [(ngModel)]="birthDate"
    [max]="maxDate"
  />
  <button
    class="mt-4 px-4 py-2 text-white font-semibold rounded bg-gradient-to-r from-blue-500 to-blue-700 hover:bg-blue-600 focus:outline-none focus:ring-0 focus:border-none active:scale-95 active:bg-blue-800 shadow-md active:shadow-inner disabled:opacity-50 disabled:cursor-not-allowed transition duration-200 ease-in-out"
    (click)="calculateMillerTime()"
  >
    Hesapla
  </button>
  <p *ngIf="millerTime" class="mt-4 text-2xl millers-text ">
    Miller'ın gezegeninde sadece {{ millerTime.years }} yıl,
    {{ millerTime.months }} ay, {{ millerTime.days }} gün,
    {{ millerTime.hours }} saat, {{ millerTime.minutes }} dakika,
    {{ millerTime.seconds }} saniye geçmiş!
  </p>
</div>

<div class="photo-info flex flex-col items-center space-y-5 mt-4">
  <p
    class="text-md text-justify text-gray-600 dark:text-gray-300 leading-relaxed max-w-4xl indent-8 whitespace-pre-line"
  >
  {{descriptionText}}
  </p>
</div>
