<div class="flex flex-wrap justify-center mt-4 md:mt-10 gap-4 md:gap-8 px-4 md:px-0">
    @for (card of informationCards; track card.title) {
      <div class="group h-80 w-full sm:h-96 sm:w-96 [perspective:1000px] p-2 sm:p-0">
        <div class="relative h-full w-full rounded-xl shadow-xl transition-all duration-500 [transform-style:preserve-3d] group-hover:[transform:rotateY(180deg)]">
          <!-- Ön yüz -->
          <div class="absolute inset-0">
            <img class="h-full w-full rounded-xl object-cover shadow-xl shadow-black/40" 
                 [src]="card.img" 
                 [alt]="card.title">
          </div>
          <!-- Arka yüz -->
          <div class="absolute inset-0 h-full w-full rounded-xl bg-black/80 px-6 sm:px-12 text-center text-slate-200 [transform:rotateY(180deg)] [backface-visibility:hidden]">
            <div class="flex min-h-full flex-col items-center justify-center p-4 sm:p-0">
              <h1 class="text-2xl sm:text-3xl font-bold">{{card.title}}</h1>
              <p class="text-base sm:text-lg">{{card.subtitle}}</p>
              <button class="mt-2 rounded-md bg-neutral-800 py-1 px-2 text-sm hover:bg-neutral-900">
                Read More
              </button>
            </div>
          </div>
        </div>
      </div>
    }
</div>